# RESEND API KEY FOR VERCEL SERVERLESS FUNCTION
RESEND_API_KEY=re_your_api_key_here

# EMAIL SETTINGS
EMAIL_FROM="PBH Client <system@emails.liaisonit.com>"
EMAIL_TO="Anant Mishra <complete.anant@gmail.com>"
